.toot {
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 1rem;
	width: 100%;
	word-break: break-word;
	border-bottom: 1px solid var(--page-background-color);
}

.toot header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.toot header .user {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
.toot header .user .avatar {
	width: 2rem;
	height: 2rem;
	border: none;
	border-radius: var(--border-radius);
}
.toot header .user .avatar img {
	width: 100%;
	height: 100%;
}
.toot header .user .name {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.toot .published {
	color: var(--text-color-secondary);
	align-self: flex-start;
	text-align: right;
}

.toot .attachment {
	width: 100%;
}
