<ul class="user_statistics">
	<li {% if page.fileSlug == '' %} class="active" {% endif %}>
		<a href="/">
			<em>{{ posts.length }}</em>
			Posts
		</a>
	</li>
	<li><em>{{ replies.length }}</em> Replies</li>
	<li><em>{{ likes.length }}</em> Likes</li>
	<li><em>{{ bookmarks.length }}</em> Bookmarks</li>
	<li><em>{{ media.length }}</em> Media</li>
	<li><em>{{ tags.length }}</em> Tags</li>
</ul>

<style type="text/css">
ul.user_statistics {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 0;
	padding: 0;
	color: var(--text-color-secondary);
	background-color: var(--page-background-color);
}
ul.user_statistics li {
	display: block;
	padding: 1rem;
}
ul.user_statistics li.active {
	background-color: var(--background-color);
}
ul.user_statistics li em {
	font-weight: bold;
	font-style: normal;
}
</style>