<div id="page_footer">
	<ul class="content">
		<li><a href="{{ pkg.homepage }}">GitHub</a></li>
		{% if meta.imprint %}
		<li><a href="{{ meta.imprint }}">Imprint</a></li>
		{% endif %}
	</ul>
</div>

<style type="text/css">
#page_footer {
	padding:var(--padding);
}
#page_footer ul.content {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	flex-direction: row;
	justify-content: space-between;
}
</style>