<section class="toot">
	<header>
		<div class="user">
			<div class="avatar">
				<img 
					src="{{ actor.icon.url }}" 
					alt="users avatar">
			</div>
			<div class="name">
				<span class="name">{{ actor.name }}</span>
				<a class="id" href="{{ toot.actor }}">{{ toot.actor | userServerFormat}}</a>
			</div>
		</div>
		<div class="published">
			{{ toot.published | localDateTime }}
		</div>
	</header>
	<div class="content">
		{# Render Toot #}
		{% if (toot.type == "Create") %}
			{% include 'toot/Create.njk' %}
		{# Render Boost #}
		{% elif (toot.type == "Announce") %}
			{% include 'toot/Announce.njk' %}
		{% endif %}
	</div>
</section>