---
layout: layouts/base.njk
permalink: "/index.html"
---
<ul class="toots">
{% for toot in posts %}
	{% include "toot.njk" %}
{% endfor %}
</ul>

<style type="text/css">
ul.toots {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
</style>