---
layout: layouts/base.njk
permalink: "/tags.html"
---
<ul class="tags">
{% for tag in tags %}
	<li style="font-size:{{ tag.scaling + 1}}rem;">
		<a href="{{ tag.href }}">{{ tag.name }}</a>
		<span class="tagCount">
		{% if tag.count > 1 %}
			[{{ tag.count }}]
		{% endif %}
		</span>
	</li>
{% endfor %}
</ul>

<style type="text/css">
ul.tags {
	list-style-type: none;
	padding:var(--padding);
	margin: 0;
	float: left;
	text-align: center;
	line-height: 2rem;
}
ul.tags li {
	display: inline-block;
	margin: 0 0.5rem;
}
.tagCount {
	display: none;
	color: var(--text-color-secondary);
}
</style>